
h3 {
    padding: 1rem;
}

.domain-info-header {
    text-align: end;
    text-decoration: underline;
}

.domain-info {
    text-align: start;
}

.annotation-group {
    width: 100%;
}

.annotation-item {
    margin: 1rem;
    width: 90%;
}