<div class="return">
    <button pButton 
    class="p-button-outlined" 
    type="button" 
    icon="pi pi-arrow-left" 
    iconPos="left"
    routerLink="/"></button>
</div>

<p *ngIf="!annotations.length" class="no-data-message">
    No target documents available.
</p>

<div class="grid">
    <div class="col-2">
        <h3 class="header domain-info-header">Name:</h3>
    </div>
    <div class="col-2">
        <h3 class="domain-info">{{ domain.name }}</h3>
    </div>

    <div class="col-2">
        <h3 class="header domain-info-header">Index page:</h3>
    </div>
    <div class="col-2">
        <h3 class="domain-info">{{ domain.index_page }}</h3>
    </div>

    <div class="col-2">
        <h3 class="header domain-info-header">Groups:</h3>
    </div>
    <div class="col-2">
        <h3 class="domain-info">{{ domain.groups }}</h3>
    </div>
    <div class=col-12>
        <div class="flex align-items-center flex-column annotation-group">
            <div *ngFor="let annos of annotations" class="annotation-item">
                <app-sectioned-item class="annotation-item" *ngFor="let anno of annos"  [item]="anno | annotationToItem"></app-sectioned-item>
            </div>
        </div>
    </div>
</div>