
h3 {
    padding: 1rem;
}

.domain-info-header {
    text-align: end;
    text-decoration: underline;
}

.domain-info {
    text-align: start;
}

.data-table {
}

.grid {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner {
    font-size: 5rem;
    color: white;
}

/deep/ .p-virtualscroller, 
/deep/ .p-virtualscroller-content, 
/deep/ .p-virtualscroller-list, 
/deep/ cdk-virtual-scroll-viewport {
    background-color: #17212f;
}

.scroller-container {
    height: 100%;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}