<div class="return">
    <button pButton 
    class="p-button-outlined" 
    type="button" 
    icon="pi pi-arrow-left" 
    iconPos="left"
    routerLink="/"></button>
</div>

<div *ngIf="domain === undefined" class="spinner-wrapper">
    <i class="pi pi-spin pi-spinner loading-spinner"></i>
</div>

<div *ngIf="domain" class="grid">
    <div class="col-2">
        <h3 class="header domain-info-header">Name:</h3>
    </div>
    <div class="col-2">
        <h3 class="domain-info">{{ domain.name }}</h3>
    </div>

    <div class="col-2">
        <h3 class="header domain-info-header">Index page:</h3>
    </div>
    <div class="col-2">
        <h3 class="domain-info">{{ domain.index_page }}</h3>
    </div>

    <div class="col-2">
        <h3 class="header domain-info-header">Groups:</h3>
    </div>
    <div class="col-2">
        <h3 class="domain-info">{{ domain.groups }}</h3>
    </div>
    <div class="col-8 scroller-container">
        <ng-container *ngFor="let annoIndex of annotationGroups">
            <p-virtualScroller 
                [value]="annotations[annoIndex]"
                scrollHeight="500px" 
                [itemSize]="80"
                [lazy]="true" 
                (onLazyLoad)="loaders[annoIndex]($event)"
                [rows]="50"> 
                <ng-template pTemplate="item" let-annotation>
                    <app-sectioned-item class="annotation-item" [item]="annotation | annotationToItem"></app-sectioned-item>
                </ng-template>

                <ng-template let-annotation pTemplate="loadingItem">
                    <i class="pi pi-spin pi-spinner loading-spinner"></i>
                </ng-template>
            </p-virtualScroller>
        </ng-container>
    </div>
</div>