/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5 {
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 0;
}

.return {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.header {
    background-color: #1f2d40;
}